<%= render 'shared/sub_header', klass: 'notification', error: @notification.errors.any? %>
<% if @cohabitants.any? %>
  <div class="page-header"><h2>New notification for <%= Time.zone.now.strftime("%A, %B %e, %Y") %></h2></div>
  <br>
  <h3 class="lead">Check each cohabitant that has mail in their bin.</h3>
  <%= form_for @notification do |f| %>
    <% @cohabitants.each do |c| %>
      <label for="<%= c.department %>">
        <%= check_box_tag 'notification[cohabitant_ids][]', c.id, false, id: c.department %>
        <%= c.department %>
      </label>
    <% end %>
    <br>
    <%= f.submit 'Notify!', class: 'btn btn-success btn-large' %>
  <% end %>
<% elsif admin? %>
  <h3 class="lead">There are no active cohabitants. Please activate or add them.</h3>
<% else %>
  <h3 class="lead">There are no active cohabitants to notify. Please tell your supervisor to add them.</h3>
<% end %>
<br><br>

<%= render 'shared/errors', object: @notification %>
