<%= render 'shared/sub_header', klass: 'notification', error: @error %>
<div class="page-header">
  <h1>On <%= @notification.created_at.strftime("%A, %B %e, %Y at %l:%M%P") %>,</h1>
</div>
<p class="lead">
<% if @notification.cohabitants.any? %>
  <%= notifier(@notification, admin?, true) %>
    notified the following cohabitants that they had snail mail:</p>
  <% @notification.cohabitants.each do |c| %>
    <li>
    <% if admin? %>
      <%= link_to c.department, c %>
    <% else %>
      <%= c.department %>
    <% end %>
    </li>
  <% end %>
<% else %>
  The notified cohabitants were deleted.
<% end %>
