<%= render 'header' %>
<div class="page-header">
  <h1>On <%= @notification.created_at.strftime("%A, %B %e, %Y at %l:%M%P") %>,</h1>
</div>
<p class="lead">
<% if admin? %>
  <%= link_to @notification.user.name, @notification.user %>
<% else %>
  <%= @notification.user.name %>
<% end %>
  notified the following cohabitants that they had snail mail:</p>
<% @notification.cohabitants.each do |c| %>
  <li>
  <% if admin? %>
    <%= link_to c.department, c %>
  <% else %>
    <%= c.department %>
  <% end %>
  </li>
<% end %>
