<p class="lead">Edit <%= @user.name %></p>
<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <label for="user_email">
    Email
    <%= f.text_field :email %>
  </label>

  <label for="user_admin">
    Admin
    <%= f.check_box :admin %>
  </label>
  <br>
  <%= f.submit 'Save', class: 'btn btn-warning' %> 
<% end %>

<%= link_to 'Change password', password_path(current_user) if @user == current_user %>
