<%= render 'shared/sub_header', klass: 'user', error: @error %>
<p class="lead">Edit <%= @user.name %></p>
<%= form_for @user, html: { class: 'form-horizontal span3' } do |f| %>
  <%= f.text_field :email, placeholder: 'Email' %>
  <br>
  <label for="user_admin">
    Admin
    <%= f.check_box :admin %>
  </label>
  <br>
  <%= f.submit 'Save', class: 'btn btn-warning' %>
<% end %>
<br>
<%= link_to 'Change password', change_password_path if @user == current_user %>

<%= render 'shared/errors', object: @user %>
