<%= render 'header' %>
<h1>All Users</h1>
<br>
<% @users.each do |u| %>
  <ul class="span3 unstyled">
    <li><h3><%= link_to u.name, u %></h3></li>
    <li>
    <% if u.id == current_user.id %>
      <%= u.email %>
    <% else %>
      <%= mail_to u.email %>
    <% end %>
    </li>
    <br>
    <li><%= button_to "edit", edit_user_path(u), title: "Edit #{u.name}", method: :get, class: "btn btn-warning" %></li>
    <% unless u == current_user %>
      <li><%= button_to "delete", u, method: :delete, confirm: "Are you sure?",
                title: "Delete #{u.name}", class: "btn btn-danger" if u != current_user %>
      </li>
    <% end %>
  </ul>
<% end %>
