<%= render 'shared/sub_header', klass: 'user', error: @error %>
<h1>All Users</h1>
<br>
<% @users.each do |user| %>
  <ul class="span3 unstyled">
    <li><h3><%= link_to user.name, user %></h3></li>
    <li>
    <%= user_email(user, current_user.id) %>
    </li>
    <br>
    <li><%= button_to "edit", edit_user_path(user), title: "Edit #{user.name}", method: :get, class: "btn btn-warning" %></li>
    <% unless user.id == current_user.id %>
      <li><%= button_to "delete", user, method: :delete, confirm: "Are you sure?",
                title: "Delete #{user.name}", class: "btn btn-danger" %>
      </li>
    <% end %>
  </ul>
<% end %>
