<%= render 'shared/sub_header', klass: 'user', error: @user.errors.any? %>
<h1>New user</h1>
<br>
<%= form_for @user, html: { class: 'form-horizontal span3' } do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <br><br>
  <%= f.text_field :email, placeholder: "Email" %>
  <br><br>
  <%= f.password_field :password, placeholder: "Password" %>
  <br><br>
  <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
  <br>
  <label for="user_admin">
    Admin
    <%= f.check_box :admin %>
  </label>
  <div class="wants-update" style="display:none">
    <label for="user_wants_update">
      Wants update
      <%= f.check_box :wants_update %>
    </label>
  </div>
  <br>
  <%= f.submit 'Create', class: 'btn btn-success' %>
<% end %>

<%= render 'shared/errors', object: @user %>
