<p class="lead"><%= @user.name %>, be careful. You're about to change your password.</p>

<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <%= f.label :old_password %>
  <%= f.password_field :old_password %>

  <%= f.label :password, 'New password' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, 'New password again' %>
  <%= f.password_field :password_confirmation %>

  <br><br>
  <%= f.submit 'Change password', class: 'btn btn-warning' %>
<% end %>


