<p><%= @user.name %>, be careful. You're about to change your password.</p>

<%= form_for @user do |f| %>
  <%= f.label :old_password %>
  <%= f.password_field :old_password %>

  <%= f.label :password, 'New password' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, 'New password again' %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Change password' %> 
<% end %>

<%= @request_url %>