<%= render 'shared/sub_header', klass: 'cohabitant', error: false %>
<h1>All Cohabitants</h1>
<p class="lead">Deactivate cohabitants to make them unnotifiable.</p>
<% unless @cohabitants.empty? %>
  <% @cohabitants.each do |cohabitant| %>
    <ul class="span3 unstyled">
      <li><%= link_to cohabitant.department, cohabitant %></li>
      <li><%= cohabitant.location %></li>
      <li><%= cohabitant.contact_name %></li>
      <li><%= mail_to cohabitant.contact_email %></li>
      <li><%= button_to 'edit', edit_cohabitant_path(cohabitant), title: "Edit #{cohabitant.department}", method: :get, class: "btn btn-warning" %></li>
      <li>
        <%= toggle_activated_button(cohabitant) %>
      </li>
      <li><%= button_to "delete", cohabitant, method: :delete,
                confirm: "Are you sure? Deleted Cohabitants will not " +
                  "show up in archived notifications.",
                title: "Delete #{cohabitant.department}",
                class: "btn btn-danger" %>
      </li>
    </ul>
  <% end %>
<% else %>
  <h2>You have no cohabitants! Click New cohabitant to make one.</h2>
<% end %>
