<%= render 'header' %>
<h1>All Cohabitants</h1>
<br>
<% if !@cohabitants.empty? %>
  <% @cohabitants.each do |c| %>
    <ul class="span3 unstyled">
      <li><%= link_to c.department, c %></li>
      <li><%= c.location %></li>
      <li><%= c.contact_name %></li>
<<<<<<< HEAD
      <li><%= c.contact_email %></li>
      <li><%= link_to 'edit', edit_cohabitant_path(c), title: "Edit #{c.department}" %>
      <li><%= link_to "delete", c, method: :delete, confirm: "Are you sure?",
                                   title: "Delete #{c.department}" %></li>
=======
      <li><%= mail_to c.contact_email %></li>
      <br>
      <li><%= button_to 'edit', edit_cohabitant_path(c), :title => "Edit #{c.department}", method: :get, class: "btn btn-warning" %>
      <li><%= button_to "delete", c, :method => :delete, :confirm => "Are you sure?",
                                   :title => "Delete #{c.department}", class: "btn btn-danger" %></li>
>>>>>>> design
    </ul>
  <% end %>
<% else %>
  <h2>You have no cohabitants! Click New cohabitant to make one.</h2>
<% end %>
