<%= render 'header' %>
<h1>New Cohabitant</h1>
<br>
<%= form_for @cohabitant, html: { class: 'form-horizontal span3' } do |f| %>
  <%= f.text_field :department, placeholder: 'Department' %>
  <br><br>
  <%= f.text_field :location, placeholder: 'Location' %>
  <br><br>
  <%= f.text_field :contact_name, placeholder: 'Contact name' %>
  <br><br>
  <%= f.text_field :contact_email, placeholder: 'Contact email' %>
  <br><br>
  <%= f.submit 'Create', class: 'btn btn-success' %>
<% end %>
<br>

<% if @cohabitant.errors.any? %>
  <div class="span3">
    <div class="alert">
      <a class="close" data-dismiss="alert" href="#">cool</a>
      <p class="lead">Your cohabitant wasn't created for the following <%= @cohabitant.errors.one? ? "reason" : "reasons" %>:</p>
      <% @cohabitant.errors.full_messages.each do |m| %>
        <p><%= m.downcase %></p>
      <% end %>
    </div>
  </div>
<% end %>

