<%= form_for @cohabitant do |f| %>
  <%= f.label :department %>
  <%= f.text_field :department %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :contact_name %>
  <%= f.text_field :contact_name %>

  <%= f.label :contact_email %>
  <%= f.text_field :contact_email %>

  <%= f.submit 'Create' %>
<% end %>

<% if @cohabitant.errors.any? %>
  <% @cohabitant.errors.full_messages.each do |m| %>
    <p><%= m.downcase %></p>
  <% end %>
<% end %>