<%= render 'header' %>
<h1>New User</h1>
<br>
<%= form_for @cohabitant do |f| %>
  <%= f.text_field :department, placeholder: 'Department' %>
  <br><br>
  <%= f.text_field :location, placeholder: 'Location' %>
  <br><br>
  <%= f.text_field :contact_name, placeholder: 'Contact name' %>
  <br><br>
  <%= f.text_field :contact_email, placeholder: 'Contact email' %>
  <br><br>
  <%= f.submit 'Create', class: 'btn btn-success' %>
<% end %>

<% if @cohabitant.errors.any? %>
  <% @cohabitant.errors.full_messages.each do |m| %>
    <p><%= m.downcase %></p>
  <% end %>
<% end %>
