<!DOCTYPE html>
<html>
<head>
  <title>Snell Mail</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' if signed_in? %>
  <%= yield %>
  <% flash.each do |key, value| %>
  <p><%= key %>: <%= value %></p>
  <% end %>
</body>
</html>
